.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Player{  
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 1px 2px 2px 1px #cccccc;
  width: 500px;
  height: 110px;
}
.Player-photo{
  position: relative;
  float: left;
  height: 100%;
}

.Player-photo img{
  height: 110px;
}

.Player-info{
  float: left;
  height: 100%;
  margin: 10px 10px 0 10px;  
}

.Player-cost{
  float: right;
  margin: 40px 10px 0 0;  
  color: #ffca00;
}

.Player-name{
  font-weight: bold;  
}


.Players-title{
  font-weight: bold;  
  font-size:14pt;
}

.Players{
  width: 520px;
  float: right;
  margin-top: 10px;
}

.Players .Player:hover{
  border: 1px solid rgb(191, 235, 255);
  box-shadow: 1px 1px 1px 1px rgb(191, 235, 255);
}

.MyTeam{
  float: left;  
  width: 800px;
  height: 400px;
  margin: 10px 0 0 10px;
  border: 1px solid #eee;
  box-shadow: 1px 2px 2px 1px #ccc;
}

.MyPlayer{
  background: #ccc;
  width: 17%;
  margin: 10px;
  height: 150px;
  float: left;
  position: relative;
  border: 1px solid #eee;
  box-shadow: 1px 2px 2px 1px #ccc;
}

.MyTeam .MyPlayer:hover{
  width: 20%;
  margin: 1px;
  height: 170px; 
}